.counter {
  width: 180px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbe8e8;
  border-radius: 8px;
  border: 1px solid #b24242;
  overflow: hidden;
  box-sizing: border-box;
  color: #b24242;

}

.counter-inp{
  width: 60px;
  height: 56px;
  background: none;
  text-align: center;
  color: #b24242;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  -moz-appearance: textfield;
}
.btndec {
  width: 60px;
  height:56px;
  color: #b24242;
  background-color: #ffffff;
  border-width: 0 1px 0 0;
  border-style:solid;
  border-color: #b24242; 

}
.btninc {
  width: 60px;
  height:56px;
  
  color: #ffffff;
  background-color: #b24242;
  border-width: 0 0 0 1px;
  border-style:solid;
  border-color: #b24242;


}

.count-input::-webkit-outer-spin-button,
.count-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}